<nav>
    <div class="site-title">
      <a href="/"><h1>Dairy</h1></a>
      <p>A Task manager</p>
    </div>
    <ul>
      <li><a href="/">Tasks</a></li>
      <li><a href="/Tasks/search">Search</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/Tasks/create">New Task</a></li>
    </ul>
  </nav>